.table {
  width: 100%;
  display: table;
  margin: 0;
  color: black;
}

.active-sort {
  cursor: pointer;
}

.active-sort:hover {
  background: #2f312e;
}

.sort-up {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: 3px solid #f00 !important;
}

.sort-down {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 3px solid #f00 !important;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #fff;
  text-align: center;
}

.row.header__table {
  color: #ffffff;
  background: #060606;
  box-shadow: 3px solid;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }

  .row.header__table {
    padding: 0;
    height: 0px;
  }

  .row.header__table .cell {
    display: none;
  }

  .row .cell:before {
    font-family: Poppins-Bold;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row .cell {
  font-family: Poppins-Regular;
  font-size: 15px;
  /*color: #666666;*/
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.row.header__table .cell {
  font-family: Poppins-Regular;
  /* font-size: 17pt !important; */
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 19px;
  padding-bottom: 19px;
}

.row .cell:nth-child(1) {
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.row .cell {
  padding-left: 10px;
  padding-right: 10px;
}

.row .cell:nth-child(2) {
  width: 70px;
}

.row .cell:nth-child(3) {
  width: 90px;
}

.row .cell:nth-child(4) {
  width: 150px;
}

.row .cell:nth-child(3),
.row .cell:nth-child(5),
.row .cell:nth-child(6),
.row .cell:nth-child(7),
.row .cell:nth-child(8) {
  width: 90px;
}

.table,
.row {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.row:hover:not(:first-child) {
  background-color: #e2e2e2;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }

  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .row .cell:nth-child(1) {
    padding-left: 30px;
  }

  .row .cell {
    font-family: Poppins-Regular;
    font-size: 17pt;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table,
  .row,
  .cell {
    width: 100% !important;
  }
}
